.han{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}

.uy{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}

.hoo{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}

.iya{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}

.jio{
    margin-right: 40px;
    margin-left: 40px;
}

.jia{
    margin-right: 40px;
    margin-left: 40px;
}

.hia{
    text-align: justify;

    margin-right: 40px;
    margin-left: 40px;
}

.poto{
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
}

.hio{
    color: blue;
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;

}
.hia{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}
